<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
    <title>Weather | Now</title>
</head>
<body>
    <div class="container">
    
        <form action="/" method='POST'>
            <input type="text" name="city" class="ghost-input" placeholder="Enter a City"> 
            <input type="submit" class="ghost-button" value="Weather Now">
        </form>

        <!-- <p>The weather in New York is 74 Celsius</p> -->
        <% if(weather !== null){ %>
            <p><%= weather %></p>
          <% } %>
  
          <% if(error !== null){ %>
            <p><%= error %></p>
          <% } %>
    
    </div>
</body>
</html>